@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* ================= BASE ================= */

body {
  overflow: hidden;
  /* width: 100vw; */
  height: 100vh;
  font-family: "Roboto";
}

.main-container {
  width: 100%;
  background-color: #f5f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

/* ================= MAIN CONTAINER =================  */

.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  transform-origin: 50% 50%;
  animation: move 5s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: scale(1) translate(-60px, -50px);
  }
  30% {
    transform: scale(0.8) translate(30vw, -30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8) translate(30vw, -30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.5) translate(-20vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.5) translate(-20vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(-60px, -50px);
  }
}

.content-container {
  z-index: 10;
  max-width: 950px;
}

/* ================= MENU  =================  */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
}

.page-title {
  color: #293264;
  font-size: 2.5rem;
}

.page-description {
  color: rgba(41, 50, 100, 1);
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  background: #4d5b9e;
  color: white;
}

.start-button:hover {
  background-color: #3b4a9e;
  transform: scale(1.05);
}

.start-button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 16px 32px;
  background-color: #4d5b9e;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

/* ================= QUESTION  =================  */

.start-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.end-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.content-container {
  padding: 0 16px;
}

.question-container {
  margin-bottom: 0.7rem;
  width: 100%;
  text-align: left;
}

.question-title {
  font-size: 0.85rem;
  color: rgb(41, 50, 100);
  margin-bottom: 0.5rem;
}

.answer {
  background-color: transparent;
  border: 1px solid #4d5b9e;
  font-size: 0.75rem;
  border-radius: 0.35rem;
  margin-right: 0.6rem;
  color: rgb(41, 50, 100);
  padding: 2px 8px;
}

.line {
  margin-top: 0.5rem;
  width: 100%;
  border-top: 0.5px solid #c4c8e0;
}

.selected {
  background-color: #d6dbf5;
}

.check {
  color: white;
  background-color: #4d5b9e;
  border: none;
  border-radius: 10px;
  padding: 14px 24px;
  font-family: Roboto;
  margin-top: 2rem;
}

.score {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1rem;
}

#correct.answer {
  background-color: #94d7a2;
  border: 1px solid #94d7a2;
}

#incorrect.answer {
  background-color: #f8bcbc;
  border: 1px solid #f8bcbc;
}

#not-selected.anwser {
  color: rgba(41, 50, 100, 0.5);
  border: 1px solid rgba(41, 50, 100, 0.5);
}

/* ================= BREAKPOIINT  =================  */

@media only screen and (min-width: 350px) {
  .question-title {
    font-size: 0.85rem;
  }

  .answer {
    font-size: 0.65rem;
    margin-bottom: 0.3rem;
  }
}

@media only screen and (min-width: 400px) {
  .question-title {
    font-size: 1.25rem;
  }

  .answer {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }

  .checked {
    font-size: 1rem;
  }

  @keyframes move {
    0% {
      transform: scale(1) translate(-60px, -50px);
    }
    30% {
      transform: scale(0.7) translate(70vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.7) translate(70vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.5) translate(-10vw, 50vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.5) translate(-10vw, 50vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(-60px, -50px);
    }
  }
}

@media only screen and (min-width: 630px) {
  .content-container {
    padding: 0 32px;
  }

  .question-container {
    font-size: 1.3rem;
  }

  .question-title {
    font-size: 1.35rem;
    margin-bottom: 0.9rem;
  }

  .answer {
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
  }

  .check {
    font-size: 1.2rem;
  }

  @keyframes move {
    0% {
      transform: scale(1) translate(100px, 100px);
    }
    30% {
      transform: scale(0.8) translate(85vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.8) translate(85vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(100px, -100px);
    }
  }
}
@media only screen and (min-width: 1000px) {
  .question-container {
    margin-bottom: 1.2rem;
  }

  .question-title {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .answer {
    font-size: 0.9rem;
    margin-bottom: 0.45rem;
  }

  .check {
    font-size: 1.25rem;
  }

  @keyframes move {
    0% {
      transform: scale(1) translate(100px, 100px);
    }
    30% {
      transform: scale(0.8) translate(90vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.8) translate(90vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.5) translate(0vw, 50vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(100px, -100px);
    }
  }
}
